.logoutMenuItem {
  color: #444444;
}
.logoutMenuItem:hover {
  color: #007df1;
} 
.mobile{
opacity: 0;
}
.nonmobile{
opacity: 1;
}
.bothmobile{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
  margin-top: 64;
}
.table{
  /* font-size: 9px; */
}
@media screen and (max-width:1111px) {
  .bothmobile{
    padding-left: 10%;
    padding-right: 10%;
  }}
  @media screen and (max-width:883px) {
    .bothmobile{
      padding-left: 0%;
      padding-right: 0%;
    }}
@media screen and (max-width:783px) {
.mobile{
  opacity: 1;
}
.nonmobile{
  opacity:0;
}

}